.header_container{
    display: flex;
    align-items: center;
    margin-bottom: 15%;
}
.header_container p{
    font-size: 1.6em;
    margin-left: 7%;
    font-weight: 600;
}
.header_container img{
    margin-left: 5%;
}
