.nav_container{
    width: 25%;
    min-height: 100vh;
    background-color: #7edaf266;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.link_container{
    margin-bottom: 5%;
}
.link_style{
text-decoration: none;
font-size: 1.3em;
font-weight: 600;
color: #333;
}
.link_style:hover{
    margin-bottom: 5%;
    opacity: 0.7;
}   