.rich_table_container{
    background-color: #F2EFFF;
    padding: 3.5% 2.5%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.227);
}
.rich_table_container tr{
    font-size: 1.1em;
}
.caption{    
    width: 63%;
}
.number{
    width: 19%;
}
.date{
    width: 14%;
}