.App {
  width: 100%;
  min-height: 100vh;
}
.bar_diagram_body_first_some_diagram{
  display: flex;
  align-items: flex-end;
  height: 200px;
  background-color: #F2EFFF;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
}

.img_income,
.img_expence,
.img_bag_yellow,
.img_bag_green,
.img_bag_red {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}